:root {
    --first: #2088D7;      /* QR border green */
    --stripone: #782434;   /* left bar green */
    --striptwo: #F04E19;   /* middle bar purple */
    --stripthree: #0C9067; /* right bar blue */
}
