:root {
    --first: #3267F1;      /* QR border green */
    --stripone: #EFDC5C;   /* left bar green */
    --striptwo: #B0616E;   /* middle bar purple */
    --stripthree: #2D3D6B; /* right bar blue */
}
