:root {
    --first: #FDC0CA;      /* QR border green */
    --stripone: #D95440;   /* left bar green */
    --striptwo: #A4867E;   /* middle bar purple */
    --stripthree: #14AFBF; /* right bar blue */
}
