:root {
    --first: #B269B3;      /* QR border gold */
    --stripone: #A5F9BB;   /* left bar green */
    --striptwo: #D3B183;   /* middle bar purple */
    --stripthree: #E6EC68; /* right bar green */
}
