:root {
    --first: #3C9B3B;      /* QR border gold */
    --stripone: #66EC4D;   /* left bar green */
    --striptwo: #AD74C5;   /* middle bar purple */
    --stripthree: #8DA8EB; /* right bar green */
}
