:root {
    --first: #0B68F8;      /* QR border gold */
    --stripone: #CF7D6F;   /* left bar green */
    --striptwo: #55725E;   /* middle bar purple */
    --stripthree: #727177; /* right bar green */
}
